<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>718574780725-lhj5m9ihto4lphe1tl9lhj6rqmgf7hac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718574780725-lhj5m9ihto4lphe1tl9lhj6rqmgf7hac</string>
	<key>API_KEY</key>
	<string>AIzaSyDUlAwpZy_ZDAwOn8ueCqwRslTJGX8NGP4</string>
	<key>GCM_SENDER_ID</key>
	<string>718574780725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morganmorleymills.communicator</string>
	<key>PROJECT_ID</key>
	<string>communicator-868d0</string>
	<key>STORAGE_BUCKET</key>
	<string>communicator-868d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:718574780725:ios:eea558440c93b9ab</string>
	<key>DATABASE_URL</key>
	<string>https://communicator-868d0.firebaseio.com</string>
</dict>
</plist>